@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    div#filaPagos {
        width: 90%;
        /* border: 1px solid red; */
    }
}

@media screen and (max-width: 922px) {
    div#detallesTarjeta {
        width: 60%;
        min-height: 400px;
        height: auto;
        padding: 5px;
    }
    div#descImporte {
        width: 40%;
    }
    div#fondo {
        /* border: 1px solid crimson; */
        left: -420px;
    }
}

@media screen and (max-width: 826px) {
    div#fondo {
        /* border: 1px solid crimson; */
        left: -450px;
    }
}

@media screen and (max-width: 749px) {
    div#fondo {
        /* border: 1px solid crimson; */
        left: -480px;
    }
}

@media screen and (max-width: 663px) {
    div#informacionPago {
        flex-direction: column;
    }
    div#descImporte {
        /* display: none; */
        width: 100%;
        padding: 15px;
        min-height: 240px;
        height: auto;
        margin-bottom: 25px;
        background-color: rgb(59, 79, 133);
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    div#detallesTarjeta {
        width: 100%;
    }
    div#fondo {
        display: none;
    }
    div#divImg {
        /* border: 1px solid darkorange; */
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 576px) {
    div#wrapPago {
        padding-top: 40px;
    }
    div.nombreApellido, div.UbicacionCorreo, div.codigoPhone {
        width: 48%;
        margin-bottom: 20px;
    }
    div.nombreApellido, div.UbicacionCorreo {
        width: 48%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 526px) {
    div#filaPagos {
        width: 100%;
    }
}

@media screen and (max-width: 464px) {
    div#detallesTarjeta {
        min-height: 400px;
    }
}

@media screen and (max-width: 440px) {
    div.divPagos {
        padding: 5px;
    }
}

h1, h2, h3, p, span, mat-label, input {
    font-family: 'Nunito Sans', sans-serif;
}

mat-label {
    font-size: 1rem;
}

.rojo {
    /* width: 100%; */
    color: tomato;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

#wrapPago {
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    /* margin-top: 40px; */
}

#filaPagos {
    /* border: 1px solid gray; */
    width: 850px;
}

.divPagos:nth-child(1) {
    margin-bottom: 15px;
}

.divPagos {
    width: 100%;
    padding: 35px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgb(209, 209, 209);
}

#tituloPagos {
    color: rgb(72, 79, 86);
    font-weight: 900;
}

#tituloGenerales {
    color: rgb(72, 79, 86);
    font-weight: 900;
}

form {
    /* border: 1px solid blue; */
    width: 100%;
}

.dual {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.nombreApellido, .UbicacionCorreo, .codigoPhone {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    width: 45%;
}

.codigoPhone:nth-child(1) {
    width: 100px;
}

#informacionPago {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    height: 500px;
}

#descImporte {
    position: relative;
    /* border: 1px solid blue; */
    width: 350px;
    height: 500px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#fondo {
    position: absolute;
    width: 700px;
    height: 1000px;
    background-color: rgb(59, 79, 133);
    border-radius: 50%;
    top: -250px;
    left: -380px;
    z-index: -9;
    box-shadow: 7px 0px 15px rgb(134, 134, 134);
}

#divImg {
    /* border: 1px solid yellow; */
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#txtNombreNeg {
    font-size: 1.2rem;
    font-weight: 900;
    color: rgb(206, 206, 206);
    width: 250px;
    /* word-break: break-all; */
    line-break: auto;
    text-align: center;
    /* border: 1px solid yellow; */
}

#txtMonto {
    font-size: 1.3rem;
    font-weight: 900;
    color: rgb(206, 206, 206);
    width: 250px;
    /* word-break: break-all; */
    line-break: auto;
    text-align: center;
}

#divImg>img {
    width: 100%;
}

#detallesTarjeta {
    /* border: 1px solid red; */
    height: 400px;
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: none;
}

#fechaExpiracion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.detailsCard {
    width: 100px;
}

#divTerminos {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    /* word-break: break-all; */
    line-break: auto;
    margin-top: 15px;
}

#checkPoliticas {
    margin-top: 5px;
}

#divTerminos>p {
    margin-left: 15px;
}

#txtClausulas {
    line-height: 1.5;
    font-size: 1rem;
}

#btnPagar {
    /* border: 1px solid pink; */
    width: 150px;
    height: 50px;
    margin-top: 50px;
    background-color: rgb(59, 79, 133);
    outline: none;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgb(94, 94, 94);
    transition: all 0.3s;
}

#btnPagar:hover {
    background-color: rgb(49, 66, 114);
    box-shadow: 3px 3px 20px rgb(36, 36, 36);
}

#btnPagar>span {
    color: #ebebeb;
    font-size: 1rem;
}