<div class="container-fluid" id="contenedor">
    <div class="row align-items-center justify-content-center" id="fila_footer">
        <!-- fecha -->
        <div class="divElementos">
            <span>
                <i class="far fa-copyright "></i> Copyright {{anio.getFullYear()}}
            </span>
        </div>
        <!-- navegacion -->
        <div class="divElementos">
            <ul class="nav justify-content-center" id="ulElementosNav">
                <li class="nav-item menu_hover">
                    <a class="nav-link" routerLink="/inicio"><i class="fas fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item menu_hover">
                    <a class="nav-link " routerLink="/negocios"><i class="fas fa-building"></i> Negocios</a>
                </li>
                <li class="nav-item menu_hover">
                    <a class="nav-link" routerLink="/contacto"><i class="fas fa-file-signature"></i> Contacto</a>
                </li>
            </ul>
        </div>
        <!-- redes sociales -->
        <div class="divElementos">
            <ul class="nav justify-content-center">
                <li class="nav-item iconsRedes">
                    <a class="nav-link active" href="https://www.youtube.com/channel/UCNkkRQ--oZznhagUBuXj-QA" target="_blank"><i class="fab fa-youtube" id="youtube"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link iconsRedes" href="https://twitter.com/CBWYN_SA" target="_blank"><i class="fab fa-twitter" id="twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link iconsRedes" href="https://www.instagram.com/cbwyn_oficial" target="_blank"><i class="fab fa-instagram-square" id="instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link iconsRedes" href="https://www.linkedin.com/in/cbwyn-oficial-7804641b5" target="_blank"><i class="fab fa-linkedin-in" id="linkedin"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link iconsRedes" href=""><i class="fab fa-whatsapp" id="whatsapp"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>